In [1]:
from pandas import DataFrame, read_csv

In [44]:
df = read_csv('givemecredit-trainfull.csv')
df2 = read_csv('givemecredit-test.csv')

In [3]:
df

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149997,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [4]:
df.describe()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,75000.500000,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,43301.414527,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37500.750000,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,75000.500000,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,112500.250000,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,150000.000000,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [5]:
df.iloc[0]

Unnamed: 0                                 1.000000
SeriousDlqin2yrs                           1.000000
RevolvingUtilizationOfUnsecuredLines       0.766127
age                                       45.000000
NumberOfTime30-59DaysPastDueNotWorse       2.000000
DebtRatio                                  0.802982
MonthlyIncome                           9120.000000
NumberOfOpenCreditLinesAndLoans           13.000000
NumberOfTimes90DaysLate                    0.000000
NumberRealEstateLoansOrLines               6.000000
NumberOfTime60-89DaysPastDueNotWorse       0.000000
NumberOfDependents                         2.000000
Name: 0, dtype: float64

In [6]:
df['MonthlyIncome']

0          9120.0
1          2600.0
2          3042.0
3          3300.0
4         63588.0
           ...
149995     2100.0
149996     5584.0
149997        NaN
149998     5716.0
149999     8158.0
Name: MonthlyIncome, Length: 150000, dtype: float64

In [45]:
df['MonthlyIncome_sansna'] = df['MonthlyIncome'].fillna(0)
df2['MonthlyIncome_sansna'] = df2['MonthlyIncome'].fillna(0)

In [8]:
df

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_sansna
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,9120.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,2600.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,3042.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,3300.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,63588.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,2100.0
149996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,5584.0
149997,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0,0.0
149998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,5716.0
149999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,8158.0

In [9]:
mask = df['MonthlyIncome'] == "NaN"
mask

/opt/conda/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

0         False
1         False
2         False
3         False
4         False
          ...
149995    False
149996    False
149997    False
149998    False
149999    False
Name: MonthlyIncome, Length: 150000, dtype: bool

In [10]:
df['MonthlyIncome'][95:105]

95     6500.0
96        NaN
97     5714.0
98     2900.0
99     7500.0
100       NaN
101    4000.0
102    2690.0
103    4908.0
104    8333.0
Name: MonthlyIncome, dtype: float64

In [11]:
mask[95:105]

95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
Name: MonthlyIncome, dtype: bool

In [12]:
df.loc[mask,'MonthlyIncome_sansna']

Series([], Name: MonthlyIncome_sansna, dtype: float64)

In [13]:
df['MonthlyIncome_sansna'][95:105]

95     6500.0
96        0.0
97     5714.0
98     2900.0
99     7500.0
100       0.0
101    4000.0
102    2690.0
103    4908.0
104    8333.0
Name: MonthlyIncome_sansna, dtype: float64

In [14]:
df['MonthlyIncome'][96]

nan

In [15]:
df.columns

Index(['Unnamed: 0', 'SeriousDlqin2yrs',
       'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents', 'MonthlyIncome_sansna'],
      dtype='object')

In [46]:
df['Sum'] = df['NumberOfTime30-59DaysPastDueNotWorse'] + df['NumberOfTime60-89DaysPastDueNotWorse'] + df['NumberOfTimes90DaysLate']
df2['Sum'] = df2['NumberOfTime30-59DaysPastDueNotWorse'] + df2['NumberOfTime60-89DaysPastDueNotWorse'] + df2['NumberOfTimes90DaysLate']

In [47]:
df['IncomePerPerson'] = df['MonthlyIncome']/(df['NumberOfDependents']+1)
df2['IncomePerPerson'] = df2['MonthlyIncome']/(df2['NumberOfDependents']+1)
df

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_sansna,Sum,IncomePerPerson
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,9120.0,2,3040.000000
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,2600.0,0,1300.000000
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,3042.0,2,3042.000000
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,3300.0,0,3300.000000
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,63588.0,1,63588.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,2100.0,0,2100.000000
149996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,5584.0,0,1861.333333
149997,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0,0.0,0,NaN
149998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,5716.0,0,5716.000000
149999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,8158.0,0,8158.000000

In [18]:
df

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_sansna,Sum,IncomePerPerson
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,9120.0,2,3040.000000
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,2600.0,0,1300.000000
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,3042.0,2,3042.000000
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,3300.0,0,3300.000000
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,63588.0,1,63588.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,2100.0,0,2100.000000
149996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,5584.0,0,1861.333333
149997,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0,0.0,0,NaN
149998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,5716.0,0,5716.000000
149999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,8158.0,0,8158.000000

In [19]:
from bigml.api import BigML
api = BigML("LAURENT33", "244589044918bef8fb911f59b469da32f073ff1a", project="project/5d94a42042129f2b0500005c")

In [48]:
df.to_csv('fulltrain_mod.csv')
df2.to_csv('test_mod.csv')

In [23]:
source_args = {"name": "171007 fulltrain ipnb",
     "source_parser": {"missing_tokens": ["NULL"]}}
source = api.create_source('fulltrain_mod.csv', source_args)

dataset_args = {"name": "171007 ipnb trainfull"}
dataset = api.create_dataset(source, dataset_args)

In [24]:
train_dataset = api.create_dataset(
    dataset, {"name": "171007 ipnb - Train",
                     "sample_rate": 0.8, "seed": "my_seed"})

val_dataset = api.create_dataset(
    dataset, {"name": "171007 ipnb - Validation",
                     "sample_rate": 0.8, "seed": "my_seed", "out_of_bag": True})

In [143]:
model_args = {"objective_field": "SeriousDlqin2yrs"}
model = api.create_ensemble(train_dataset, model_args)

In [144]:
api.ok(model)

True

In [145]:
model = api.get_ensemble(model)

In [146]:
evaluation = api.create_evaluation(model, val_dataset, {
    "name": "171007 ipnb - Train - evaluation"})

In [147]:
api.pprint(evaluation['object'])

{   'boosted_ensemble': False,
    'category': 0,
    'code': 201,
    'combiner': None,
    'configuration': None,
    'configuration_status': False,
    'created': '2019-10-18T13:58:53.269092',
    'creator': 'laurent33',
    'credits': 3000.0,
    'dataset': 'dataset/5da9ae4ee476847468001f7e',
    'dataset_status': True,
    'datasets': [],
    'deepnet': '',
    'description': '',
    'ensemble': 'ensemble/5da9c4df5299631c82001fb2',
    'evaluations': None,
    'excluded_fields': [],
    'fields_map': {},
    'fusion': '',
    'input_fields': [],
    'linearregression': '',
    'locale': 'en-US',
    'logisticregression': '',
    'max_rows': 30000,
    'missing_strategy': 0,
    'model': 'model/5da9c4fa440ca115b202c19e',
    'model_status': True,
    'model_type': 1,
    'name': '171007 ipnb - Train - evaluation',
    'name_options': 'bootstrap decision forest, 512-node, 10-model, pruned, '
                    'deterministic order',
    'number_of_models': 10,
    'objective_field_descriptors': {},
    'objective_fields': [],
    'operating_kind': None,
    'optiml': None,
    'optiml_status': False,
    'out_of_bag': False,
    'performance': None,
    'private': True,
    'project': 'project/5d94a42042129f2b0500005c',
    'range': None,
    'replacement': False,
    'resource': 'evaluation/5da9c51d5299631c82001fbb',
    'result': {},
    'rows': 30000,
    'sample_rate': 1.0,
    'sampled_rows': 30000,
    'shared': False,
    'size': 2360412,
    'status': {   'code': 1,
                  'message': 'The evaluation creation request has been queued '
                             'and will be processed soon',
                  'progress': 0},
    'subscription': True,
    'tags': [],
    'timeseries': '',
    'type': 0,
    'updated': '2019-10-18T13:58:53.269119'}

In [148]:
api.pprint(model['object']['ensemble'])

{   'fields': {   '000000': {   'column_number': 0,
                                'datatype': 'int32',
                                'name': 'field1',
                                'optype': 'numeric',
                                'order': 0,
                                'preferred': True,
                                'summary': {   'bins': [   [2555.1253, 4110],
                                                           [6217.1521, 1762],
                                                           [9636.38334, 3793],
                                                           [14931.72794, 4760],
                                                           [19728.46324, 2938],
                                                           [23621.01454, 3301],
                                                           [28150.11395, 3914],
                                                           [33832.19359, 5088],
                                                           [38757.23932, 2808],
                                                           [42468.40747, 3080],
                                                           [46429.17397, 3242],
                                                           [50600.32203, 3509],
                                                           [55230.85998, 3921],
                                                           [60491.07334, 4513],
                                                           [66297.06389, 4805],
                                                           [70969.05946, 2674],
                                                           [75563.06981, 4670],
                                                           [80389.35999, 3039],
                                                           [85252.66646, 4734],
                                                           [90666.91876, 3939],
                                                           [94758.49209, 2654],
                                                           [98393.8057, 3160],
                                                           [102740.00344, 3784],
                                                           [107909.38729, 4485],
                                                           [114077.03075, 5398],
                                                           [119342.26768, 3041],
                                                           [123447.52608, 3509],
                                                           [127907.24475, 3616],
                                                           [132593.47782, 3832],
                                                           [137680.39592, 4218],
                                                           [143339.3124, 4792],
                                                           [   148166.75438,
                                                               2911]],
                                               'exact_histogram': {   'populations': [   4008,
                                                                                         4059,
                                                                                         4037,
                                                                                         4016,
                                                                                         3987,
                                                                                         3990,
                                                                                         3970,
                                                                                         4000,
                                                                                         3966,
                                                                                         4032,
                                                                                         4015,
                                                                                         3996,
                                                                                         4031,
                                                                                         4000,
                                                                                         3992,
                                                                                         3984,
                                                                                         4003,
                                                                                         4000,
                                                                                         4035,
                                                                                         4004,
                                                                                         3986,
                                                                                         4006,
                                                                                         4011,
                                                                                         3993,
                                                                                         4006,
                                                                                         3952,
                                                                                         3987,
                                                                                         3965,
                                                                                         4002,
                                                                                         3967],
                                                                      'start': 0,
                                                                      'width': 5000},
                                               'kurtosis': -1.19879,
                                               'maximum': 149999,
                                               'mean': 74895.17714,
                                               'median': 74877.5,
                                               'minimum': 0,
                                               'missing_count': 0,
                                               'population': 120000,
                                               'skewness': 0.00148,
                                               'standard_deviation': 43294.5971,
                                               'sum': 8987421257,
                                               'sum_squares': 898043289227593,
                                               'variance': 1874422137.99948}},
                  '000001': {   'column_number': 1,
                                'datatype': 'int32',
                                'name': 'Unnamed: 0',
                                'optype': 'numeric',
                                'order': 1,
                                'preferred': True,
                                'summary': {   'bins': [   [2556.1253, 4110],
                                                           [6218.1521, 1762],
                                                           [9637.38334, 3793],
                                                           [14932.72794, 4760],
                                                           [19729.46324, 2938],
                                                           [23622.01454, 3301],
                                                           [28151.11395, 3914],
                                                           [33833.19359, 5088],
                                                           [38758.23932, 2808],
                                                           [42469.40747, 3080],
                                                           [46430.17397, 3242],
                                                           [50601.32203, 3509],
                                                           [55231.85998, 3921],
                                                           [60492.07334, 4513],
                                                           [66298.06389, 4805],
                                                           [70970.05946, 2674],
                                                           [75564.06981, 4670],
                                                           [80390.35999, 3039],
                                                           [85253.66646, 4734],
                                                           [90667.91876, 3939],
                                                           [94759.49209, 2654],
                                                           [98394.8057, 3160],
                                                           [102741.00344, 3784],
                                                           [107910.38729, 4485],
                                                           [114078.03075, 5398],
                                                           [119343.26768, 3041],
                                                           [123448.52608, 3509],
                                                           [127908.24475, 3616],
                                                           [132594.47782, 3832],
                                                           [137681.39592, 4218],
                                                           [143340.3124, 4792],
                                                           [   148167.75438,
                                                               2911]],
                                               'exact_histogram': {   'populations': [   4007,
                                                                                         4059,
                                                                                         4037,
                                                                                         4016,
                                                                                         3988,
                                                                                         3989,
                                                                                         3970,
                                                                                         4000,
                                                                                         3966,
                                                                                         4032,
                                                                                         4015,
                                                                                         3997,
                                                                                         4030,
                                                                                         4000,
                                                                                         3992,
                                                                                         3984,
                                                                                         4003,
                                                                                         4000,
                                                                                         4035,
                                                                                         4004,
                                                                                         3986,
                                                                                         4006,
                                                                                         4011,
                                                                                         3993,
                                                                                         4007,
                                                                                         3951,
                                                                                         3987,
                                                                                         3965,
                                                                                         4002,
                                                                                         3967,
                                                                                         1],
                                                                      'start': 0,
                                                                      'width': 5000},
                                               'kurtosis': -1.19879,
                                               'maximum': 150000,
                                               'mean': 74896.17714,
                                               'median': 74878.5,
                                               'minimum': 1,
                                               'missing_count': 0,
                                               'population': 120000,
                                               'skewness': 0.00148,
                                               'standard_deviation': 43294.5971,
                                               'sum': 8987541257,
                                               'sum_squares': 898061264190107,
                                               'variance': 1874422137.99948}},
                  '000002': {   'column_number': 2,
                                'datatype': 'string',
                                'name': 'SeriousDlqin2yrs',
                                'optype': 'categorical',
                                'order': 2,
                                'preferred': True,
                                'summary': {   'categories': [   ['0', 112012],
                                                                 ['1', 7988]],
                                               'missing_count': 0},
                                'term_analysis': {'enabled': True}},
                  '000003': {   'column_number': 3,
                                'datatype': 'double',
                                'name': 'RevolvingUtilizationOfUnsecuredLines',
                                'optype': 'numeric',
                                'order': 3,
                                'preferred': True,
                                'summary': {   'bins': [   [0.33036, 119821],
                                                           [346.63889, 15],
                                                           [778.45455, 22],
                                                           [1107.5, 10],
                                                           [1732.90625, 32],
                                                           [2177.0625, 16],
                                                           [2667.25, 4],
                                                           [3038.75, 8],
                                                           [3645.26667, 15],
                                                           [4227.33333, 6],
                                                           [4601, 5],
                                                           [5029.5, 6],
                                                           [5507.66667, 3],
                                                           [5889.33333, 3],
                                                           [6207.66667, 3],
                                                           [6770.66667, 3],
                                                           [7467, 3],
                                                           [7812.75, 4],
                                                           [8412.5, 2],
                                                           [8770.5, 2],
                                                           [9266.5, 2],
                                                           [9684, 1],
                                                           [10180, 2],
                                                           [10821, 1],
                                                           [11698, 2],
                                                           [12369, 1],
                                                           [13449, 2],
                                                           [13930, 1],
                                                           [18300, 1],
                                                           [22099, 2],
                                                           [29110, 1],
                                                           [50708, 1]],
                                               'exact_histogram': {   'open_max': 179,
                                                                      'populations': [   119805,
                                                                                         5,
                                                                                         1,
                                                                                         0,
                                                                                         1,
                                                                                         3,
                                                                                         1,
                                                                                         1,
                                                                                         0,
                                                                                         1,
                                                                                         0,
                                                                                         2,
                                                                                         0,
                                                                                         1],
                                                                      'start': 0,
                                                                      'width': 10},
                                               'kurtosis': 14228.47292,
                                               'maximum': 50708,
                                               'mean': 6.42438,
                                               'median': 0.15461,
                                               'minimum': 0,
                                               'missing_count': 0,
                                               'population': 120000,
                                               'skewness': 97.07551,
                                               'standard_deviation': 263.33087,
                                               'sum': 770925.82314,
                                               'sum_squares': 8326061073.83881,
                                               'variance': 69343.14746}},
                  '000004': {   'column_number': 4,
                                'datatype': 'int8',
                                'name': 'age',
                                'optype': 'numeric',
                                'order': 4,
                                'preferred': True,
                                'summary': {   'bins': [   [0, 1],
                                                           [22.7519, 1318],
                                                           [25.62578, 2560],
                                                           [28.57684, 3963],

                                               'population': 120000,
                                               'skewness': 1.21019,
                                               'standard_deviation': 5.14863,
                                               'sum': 1015127,
                                               'sum_squares': 11768343,
                                               'variance': 26.50844}},
                  '000009': {   'column_number': 9,
                                'datatype': 'int8',
                                'name': 'NumberOfTimes90DaysLate',
                                'optype': 'numeric',
                                'order': 9,
                                'preferred': True,
                                'summary': {   'counts': [   [0, 113268],
                                                             [1, 4258],
                                                             [2, 1240],
                                                             [3, 535],
                                                             [4, 244],
                                                             [5, 104],
                                                             [6, 56],
                                                             [7, 29],
                                                             [8, 16],
                                                             [9, 15],
                                                             [10, 6],
                                                             [11, 4],
                                                             [12, 1],
                                                             [13, 4],
                                                             [14, 1],
                                                             [15, 2],
                                                             [17, 1],
                                                             [96, 4],
                                                             [98, 212]],
                                               'exact_histogram': {   'open_max': 455,
                                                                      'populations': [   113268,
                                                                                         0,
                                                                                         4258,
                                                                                         0,
                                                                                         1240,
                                                                                         0,
                                                                                         535,
                                                                                         0,
                                                                                         244],
                                                                      'start': 0,
                                                                      'width': 0.5},
                                               'kurtosis': 535.85348,
                                               'maximum': 98,
                                               'mean': 0.26692,
                                               'median': 0,
                                               'minimum': 0,
                                               'missing_count': 0,
                                               'population': 120000,
                                               'skewness': 23.04849,
                                               'standard_deviation': 4.17675,
                                               'sum': 32030,
                                               'sum_squares': 2101964,
                                               'variance': 17.44527}},
                  '00000a': {   'column_number': 10,
                                'datatype': 'int8',
                                'name': 'NumberRealEstateLoansOrLines',
                                'optype': 'numeric',
                                'order': 10,
                                'preferred': True,
                                'summary': {   'counts': [   [0, 44894],
                                                             [1, 41930],
                                                             [2, 25233],
                                                             [3, 5008],
                                                             [4, 1764],
                                                             [5, 548],
                                                             [6, 242],
                                                             [7, 137],
                                                             [8, 78],
                                                             [9, 63],
                                                             [10, 28],
                                                             [11, 14],
                                                             [12, 17],
                                                             [13, 13],
                                                             [14, 5],
                                                             [15, 7],
                                                             [16, 4],
                                                             [17, 3],
                                                             [18, 2],
                                                             [19, 1],
                                                             [20, 1],
                                                             [21, 1],
                                                             [23, 2],
                                                             [25, 2],
                                                             [26, 1],
                                                             [32, 1],
                                                             [54, 1]],
                                               'exact_histogram': {   'open_max': 381,
                                                                      'populations': [   44894,
                                                                                         0,
                                                                                         41930,
                                                                                         0,
                                                                                         25233,
                                                                                         0,
                                                                                         5008,
                                                                                         0,
                                                                                         1764,
                                                                                         0,
                                                                                         548,
                                                                                         0,
                                                                                         242],
                                                                      'start': 0,
                                                                      'width': 0.5},
                                               'kurtosis': 67.06067,
                                               'maximum': 54,
                                               'mean': 1.01849,
                                               'median': 1,
                                               'minimum': 0,
                                               'missing_count': 0,
                                               'population': 120000,
                                               'skewness': 3.59524,
                                               'standard_deviation': 1.13012,
                                               'sum': 122219,
                                               'sum_squares': 277737,
                                               'variance': 1.27716}},
                  '00000b': {   'column_number': 11,
                                'datatype': 'int8',
                                'name': 'NumberOfTime60-89DaysPastDueNotWorse',
                                'optype': 'numeric',
                                'order': 11,
                                'preferred': True,
                                'summary': {   'counts': [   [0, 113951],
                                                             [1, 4562],
                                                             [2, 869],
                                                             [3, 260],
                                                             [4, 89],
                                                             [5, 30],
                                                             [6, 13],
                                                             [7, 7],
                                                             [8, 1],
                                                             [9, 1],
                                                             [11, 1],
                                                             [96, 4],
                                                             [98, 212]],
                                               'exact_histogram': {   'open_max': 358,
                                                                      'populations': [   113951,
                                                                                         0,
                                                                                         4562,
                                                                                         0,
                                                                                         869,
                                                                                         0,
                                                                                         260],
                                                                      'start': 0,
                                                                      'width': 0.5},
                                               'kurtosis': 543.60941,
                                               'maximum': 98,
                                               'mean': 0.24084,
                                               'median': 0,
                                               'minimum': 0,
                                               'missing_count': 0,
                                               'population': 120000,
                                               'skewness': 23.28758,
                                               'standard_deviation': 4.16293,
                                               'sum': 28901,
                                               'sum_squares': 2086541,
                                               'variance': 17.32998}},
                  '00000c': {   'column_number': 12,
                                'datatype': 'int8',
                                'name': 'NumberOfDependents',
                                'optype': 'numeric',
                                'order': 12,
                                'preferred': True,
                                'summary': {   'counts': [   [0, 69564],
                                                             [1, 21029],
                                                             [2, 15535],
                                                             [3, 7641],
                                                             [4, 2280],
                                                             [5, 605],
                                                             [6, 132],
                                                             [7, 40],
                                                             [8, 20],
                                                             [9, 4],
                                                             [10, 5],
                                                             [13, 1],
                                                             [20, 1]],
                                               'exact_histogram': {   'populations': [   90593,
                                                                                         23176,
                                                                                         2885,
                                                                                         172,
                                                                                         24,
                                                                                         5,
                                                                                         1,
                                                                                         0,
                                                                                         0,
                                                                                         0,
                                                                                         1],
                                                                      'start': 0,
                                                                      'width': 2},
                                               'kurtosis': 3.21224,
                                               'maximum': 20,
                                               'mean': 0.75749,
                                               'median': 0,
                                               'minimum': 0,
                                               'missing_count': 3143,
                                               'population': 116857,
                                               'skewness': 1.60416,
                                               'standard_deviation': 1.11729,
                                               'sum': 88518,
                                               'sum_squares': 212928,
                                               'variance': 1.24834}},
                  '00000d': {   'column_number': 13,
                                'datatype': 'int32',
                                'name': 'MonthlyIncome_sansna',
                                'optype': 'numeric',
                                'order': 13,
                                'preferred': True,
                                'summary': {   'bins': [   [4340.90783, 113332],
                                                           [16260.35241, 5573],
                                                           [27892.96388, 609],
                                                           [39928.23853, 218],
                                                           [56705.23256, 129],
                                                           [74681.05556, 54],
                                                           [91969.35714, 28],
                                                           [109192.4, 5],
                                                           [124479.46154, 13],
                                                           [145942.5, 6],
                                                           [165231.4, 5],
                                                           [184903, 1],
                                                           [205916.5, 2],
                                                           [218674, 1],
                                                           [236122.5, 4],
                                                           [253318.5, 4],
                                                           [287662, 1],
                                                           [304000, 1],
                                                           [324000, 1],
                                                           [408333, 1],
                                                           [428250, 1],
                                                           [440000, 1],
                                                           [562466, 1],
                                                           [582369, 1],
                                                           [649587, 1],
                                                           [702500, 1],
                                                           [730483, 1],
                                                           [835040, 1],
                                                           [1072500, 1],
                                                           [1560100, 1],
                                                           [1794060, 1],
                                                           [3008750, 1]],
                                               'exact_histogram': {   'open_max': 458,
                                                                      'populations': [   32544,
                                                                                         22024,
                                                                                         23070,
                                                                                         16399,
                                                                                         10192,
                                                                                         6794,
                                                                                         3443,
                                                                                         1913,
                                                                                         1114,
                                                                                         623,
                                                                                         513,
                                                                                         246,
                                                                                         246,
                                                                                         106,
                                                                                         84,
                                                                                         113,
                                                                                         62,
                                                                                         56],
                                                                      'start': 0,
                                                                      'width': 2000},
                                               'kurtosis': 20848.15968,
                                               'maximum': 3008750,
                                               'mean': 5354.3838,
                                               'median': 4339,
                                               'minimum': 0,
                                               'missing_count': 0,
                                               'population': 120000,
                                               'skewness': 118.57081,
                                               'standard_deviation': 14148.87182,

In [50]:
source2_args = {"name": "171007 test ipnb",
     "source_parser": {"missing_tokens": ["NULL"]}}
source2 = api.create_source('test_mod.csv', source2_args)

dataset2_args = {"name": "171007 ipnb test"}
dataset2 = api.create_dataset(source2, dataset2_args)

In [160]:
prediction_args = {"name": "171007 ipnb - Train (80%) - Prediction",
                  "header": True,
                  "probabilities": True,
                  "output_fields": ["field1"]}

batch_prediction = api.create_batch_prediction(model, dataset2, prediction_args)

In [161]:
api.ok(batch_prediction)

True

In [193]:
api.download_batch_prediction(batch_prediction,
                              filename= "171007 ipnb 80% - test prediction.csv")

TypeError: download_batch_prediction() got an unexpected keyword argument 'index'

In [213]:
df3 = read_csv('171007 ipnb 80% - test prediction.csv', index_col=0)
df3

        SeriousDlqin2yrs  0 probability  1 probability
field1
0                      0        0.95483        0.04517
1                      0        0.95050        0.04950
2                      0        0.99043        0.00957
3                      0        0.94085        0.05915
4                      0        0.90566        0.09434
...                  ...            ...            ...
101498                 0        0.97267        0.02733
101499                 0        0.65509        0.34491
101500                 0        0.99633        0.00367
101501                 0        0.92566        0.07434
101502                 0        0.94734        0.05266

[101503 rows x 3 columns]

In [214]:
df3.columns

Index(['SeriousDlqin2yrs', '0 probability', '1 probability'], dtype='object')

In [215]:
df3.drop(df3.columns[0:2], axis=1, inplace=True)
df3

        1 probability
field1
0             0.04517
1             0.04950
2             0.00957
3             0.05915
4             0.09434
...               ...
101498        0.02733
101499        0.34491
101500        0.00367
101501        0.07434
101502        0.05266

[101503 rows x 1 columns]

In [217]:
df3.to_csv('171001 ipnb for kag.csv')

In [3]:
import kaggle
submission_file = "171001 ipnb for kag.csv"
kaggle.api.competition_submit(submission_file, "171001 ipnb ensemble", "house-prices-advanced-regression-techniques")

ApiException: (401)
Reason: Unauthorized
HTTP response headers: HTTPHeaderDict({'Date': 'Fri, 18 Oct 2019 15:09:19 GMT', 'Content-Length': '0', 'Access-Control-Allow-Credentials': 'true', 'Turbolinks-Location': 'https://www.kaggle.com/api/v1/competitions/house-prices-advanced-regression-techniques/submissions/url/1739736/1571409629', 'Strict-Transport-Security': 'max-age=300', 'Content-Security-Policy': "object-src 'none'; base-uri 'none';", 'X-Content-Type-Options': 'nosniff', 'Referrer-Policy': 'strict-origin-when-cross-origin', 'Via': '1.1 google', 'Set-Cookie': 'GCLB=CPzZ8o6EwpSPWA; path=/; HttpOnly', 'Alt-Svc': 'clear'})