In [4]:
from pandas import DataFrame, read_csv
from bigml.api import BigML
api = BigML(project="project/5d94a42042129f2b0500005c")

- Création de la source et dataset correspondant du fichier test sur le site bigml

In [ ]:
source2_args = {"name": "171007 test ipnb",
     "source_parser": {"missing_tokens": ["NULL"]}}
source2 = api.create_source('test_mod.csv', source2_args)

dataset2_args = {"name": "171007 ipnb test"}
dataset2 = api.create_dataset(source2, dataset2_args)

In [7]:
dataset2 = api.get_dataset('dataset/5db162dee476847468009156')

- Génération de la prédiction sur test

In [ ]:
prediction_args = {"name": "171007 ipnb - Train (80%) - Prediction",
                  "header": True,
                  "probabilities": True,
                  "output_fields": ["field1"]}

batch_prediction = api.create_batch_prediction(model, dataset2, prediction_args)

In [ ]:
api.ok(batch_prediction)

In [ ]:
api.download_batch_prediction(batch_prediction,
                              filename= "171007 ipnb 80% - test prediction.csv")

- Importation du fichier généré à l'étape précédente

In [37]:
df3 = read_csv('171007 ipnb 80% - test prediction.csv')
df3

        field1  SeriousDlqin2yrs  0 probability  1 probability
0            0                 0        0.94218        0.05782
1            1                 0        0.95594        0.04406
2            2                 0        0.98942        0.01058
3            3                 0        0.95748        0.04252
4            4                 0        0.91365        0.08635
...        ...               ...            ...            ...
101498  101498                 0        0.97996        0.02004
101499  101499                 0        0.60409        0.39591
101500  101500                 0        0.99691        0.00309
101501  101501                 0        0.90697        0.09303
101502  101502                 0        0.94017        0.05983

[101503 rows x 4 columns]

- Mise au format attendu par kaggle (2 colonnes)

In [38]:
df3.drop(df3.columns[1:3], axis=1, inplace=True)
df3.rename(columns={"field1": "Id", "1 probability": "Probability"}, inplace=True)
df3

            Id  Probability
0            0      0.05782
1            1      0.04406
2            2      0.01058
3            3      0.04252
4            4      0.08635
...        ...          ...
101498  101498      0.02004
101499  101499      0.39591
101500  101500      0.00309
101501  101501      0.09303
101502  101502      0.05983

[101503 rows x 2 columns]

In [39]:
df3[['Id']] = df3[['Id']] + 1
df3

            Id  Probability
0            1      0.05782
1            2      0.04406
2            3      0.01058
3            4      0.04252
4            5      0.08635
...        ...          ...
101498  101499      0.02004
101499  101500      0.39591
101500  101501      0.00309
101501  101502      0.09303
101502  101503      0.05983

[101503 rows x 2 columns]

- Exportation du fichier de résultat

In [40]:
df3.to_csv('171001 ipnb for kag.csv', index=False)

- Envoi du fichier final

In [9]:
import kaggle

In [2]:
submission_file = "171001 ipnb for kag.csv"
kaggle.api.competition_submit(submission_file, "171001 ipnb ensemble", "GiveMeSomeCredit")

100%|██████████| 1.64M/1.64M [00:06<00:00, 271kB/s]

Successfully submitted to Give Me Some Credit

- Récupération du score

In [12]:
kaggle.api.competitions_submissions_list("GiveMeSomeCredit")

[{'ref': 12977370,
  'totalBytes': 1720383,
  'date': '2019-10-24T09:22:42.343Z',
  'description': '171001 ipnb ensemble',
  'errorDescription': None,
  'fileName': '171001 ipnb for kag.csv',
  'publicScore': '0.85508',
  'privateScore': '0.86239',
  'status': 'complete',
  'submittedBy': 'laurent33',
  'submittedByRef': 'laurent33',
  'teamName': 'laurent33',
  'type': 'standard',
  'url': 'https://www.kaggle.com/submissions/12977370/12977370.raw'},
 {'ref': 12715144,
  'totalBytes': 403828,
  'date': '2019-10-04T15:01:55.733Z',
  'description': 'vb OptiML 2',
  'errorDescription': None,
  'fileName': 'VB OPTIML 2 Clean.zip',
  'publicScore': '0.86000',
  'privateScore': '0.86576',
  'status': 'complete',
  'submittedBy': 'laurent33',
  'submittedByRef': 'laurent33',
  'teamName': 'laurent33',
  'type': 'standard',
  'url': 'https://www.kaggle.com/submissions/12715144/12715144.raw'},
 {'ref': 12714865,
  'totalBytes': 400610,
  'date': '2019-10-04T14:29:41.37Z',
  'description': 'M6 vc',
  'errorDescription': None,
  'fileName': 'M6 vc - kagout.zip',
  'publicScore': '0.85492',
  'privateScore': '0.86133',
  'status': 'complete',
  'submittedBy': 'laurent33',
  'submittedByRef': 'laurent33',
  'teamName': 'laurent33',
  'type': 'standard',
  'url': 'https://www.kaggle.com/submissions/12714865/12714865.raw'},
 {'ref': 12714790,
  'totalBytes': 403873,
  'date': '2019-10-04T14:21:53.513Z',
  'description': 'M5 vb optiml',
  'errorDescription': None,
  'fileName': 'M5 vb optiml - kaggleout.zip',
  'publicScore': '0.85996',
  'privateScore': '0.86571',
  'status': 'complete',
  'submittedBy': 'laurent33',
  'submittedByRef': 'laurent33',
  'teamName': 'laurent33',
  'type': 'standard',
  'url': 'https://www.kaggle.com/submissions/12714790/12714790.raw'},
 {'ref': 12713979,
  'totalBytes': 400756,
  'date': '2019-10-04T12:56:15.2Z',
  'description': 'M4 vb',
  'errorDescription': None,
  'fileName': 'M4 vb kagout.zip',
  'publicScore': '0.86057',
  'privateScore': '0.86458',
  'status': 'complete',
  'submittedBy': 'laurent33',
  'submittedByRef': 'laurent33',
  'teamName': 'laurent33',
  'type': 'standard',
  'url': 'https://www.kaggle.com/submissions/12713979/12713979.raw'},
 {'ref': 12713464,
  'totalBytes': 399662,
  'date': '2019-10-04T11:57:17.59Z',
  'description': 'Custom Feature set 4 from Medhi',
  'errorDescription': None,
  'fileName': 'M4 kag out - 1.zip',
  'publicScore': '0.85854',
  'privateScore': '0.86337',
  'status': 'complete',
  'submittedBy': 'laurent33',
  'submittedByRef': 'laurent33',
  'teamName': 'laurent33',
  'type': 'standard',
  'url': 'https://www.kaggle.com/submissions/12713464/12713464.raw'},
 {'ref': 12713378,
  'totalBytes': 1704290,
  'date': '2019-10-04T11:47:29.733Z',
  'description': 'Custom features V4 from Medhi',
  'errorDescription': "ERROR: The value '5634' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 2, Column 3)\nERROR: The value '5201' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 3, Column 3)\nERROR: The value '123' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 4, Column 3)\nERROR: The value '5801' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 5, Column 3)\nERROR: The value '13024' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 6, Column 3)\nERROR: The value '3293' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 7, Column 3)\nERROR: The value '517' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 8, Column 3)\nERROR: The value '2455' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 9, Column 3)\nERROR: The value '316' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 10, Column 3)\nERROR: The value '52962' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 11, Column 4)\n",
  'fileName': 'M4 kag out - 1.csv',
  'publicScore': None,
  'privateScore': None,
  'status': 'error',
  'submittedBy': 'laurent33',
  'submittedByRef': 'laurent33',
  'teamName': 'laurent33',
  'type': 'standard',
  'url': 'https://www.kaggle.com/submissions/12713378/12713378.raw'},
 {'ref': 12712823,
  'totalBytes': 331457,
  'date': '2019-10-04T10:42:05.31Z',
  'description': 'M4 enhanced',
  'errorDescription': "ERROR: The value '5634' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 2, Column 3)\nERROR: The value '5201' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 3, Column 3)\nERROR: The value '123' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 4, Column 3)\nERROR: The value '5801' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 5, Column 3)\nERROR: The value '13024' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 6, Column 3)\nERROR: The value '3293' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 7, Column 3)\nERROR: The value '517' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 8, Column 3)\nERROR: The value '2455' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 9, Column 3)\nERROR: The value '316' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 10, Column 3)\nERROR: The value '52962' is not in the required set of values 'Predicted Probability = [0, 1]' (Line 11, Column 4)\n",
  'fileName': '191004 test M enhanced - Kaggle out.7z',
  'publicScore': None,
  'privateScore': None,
  'status': 'error',
  'submittedBy': 'laurent33',
  'submittedByRef': 'laurent33',
  'teamName': 'laurent33',
  'type': 'standard',
  'url': 'https://www.kaggle.com/submissions/12712823/12712823.raw'}]