In [37]:
df3 = read_csv('171007 ipnb 80% - test prediction.csv')
df3

        field1  SeriousDlqin2yrs  0 probability  1 probability
0            0                 0        0.94218        0.05782
1            1                 0        0.95594        0.04406
2            2                 0        0.98942        0.01058
3            3                 0        0.95748        0.04252
4            4                 0        0.91365        0.08635
...        ...               ...            ...            ...
101498  101498                 0        0.97996        0.02004
101499  101499                 0        0.60409        0.39591
101500  101500                 0        0.99691        0.00309
101501  101501                 0        0.90697        0.09303
101502  101502                 0        0.94017        0.05983

[101503 rows x 4 columns]

In [38]:
df3.drop(df3.columns[1:3], axis=1, inplace=True)
df3.rename(columns={"field1": "Id", "1 probability": "Probability"}, inplace=True)
df3

            Id  Probability
0            0      0.05782
1            1      0.04406
2            2      0.01058
3            3      0.04252
4            4      0.08635
...        ...          ...
101498  101498      0.02004
101499  101499      0.39591
101500  101500      0.00309
101501  101501      0.09303
101502  101502      0.05983

[101503 rows x 2 columns]

In [39]:
df3[['Id']] = df3[['Id']] + 1
df3

            Id  Probability
0            1      0.05782
1            2      0.04406
2            3      0.01058
3            4      0.04252
4            5      0.08635
...        ...          ...
101498  101499      0.02004
101499  101500      0.39591
101500  101501      0.00309
101501  101502      0.09303
101502  101503      0.05983

[101503 rows x 2 columns]

In [40]:
df3.to_csv('171001 ipnb for kag.csv', index=False)

In [2]:
import kaggle
submission_file = "171001 ipnb for kag.csv"
kaggle.api.competition_submit(submission_file, "171001 ipnb ensemble", "GiveMeSomeCredit")

100%|██████████| 1.64M/1.64M [00:06<00:00, 271kB/s]

Successfully submitted to Give Me Some Credit